.button {
  -fx-alignment: BASELINE_CENTER;
  -fx-text-fill: #FFFFFF;
  -fx-background-color: #FF9569;
  -fx-background-radius: 200px;
  -fx-background-insets: 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.button:hover {
  -fx-background-color: #000000;
}

.button:pressed {
  -fx-background-color: #FF9569;
}

.scroll-pane {
  -fx-background-color:  #E7E7E0;
}

.overall-background {
  -fx-background-color:  #E7E7E0;
}

.pane {
  -fx-background-color: #E7E7E0;
}