.button {
  -fx-alignment: BASELINE_CENTER;
  -fx-text-fill: #FFFFFF;
  -fx-background-color: #FF8000;
  -fx-background-radius: 10px;
  -fx-background-insets: 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.button:hover {
  -fx-border-radius: 12;
  -fx-border-color: #FF9E3D;
  -fx-background-color: #FF9E3D;
  -fx-background-insets: 0;
  -fx-border-insets: -2;
  -fx-border-width: 2;
}

.button:pressed {
  -fx-background-color: #6C3600;
}

.label {
  -fx-text-fill: #FF8000;
}

.text-field {
  -fx-alignment: CENTER;
  -fx-text-fill: #FF8000;
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 10px;
  -fx-background-insets: 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
  -fx-border-radius: 11;
  -fx-border-color: #FF8000;
  -fx-border-insets: -1;
  -fx-border-width: 3;
}

.text-field:focused {
  -fx-border-radius: 12;
  -fx-border-insets: -2;
  -fx-border-width: 2;
}

.choice-box {
  -fx-alignment: BASELINE_LEFT;
  -fx-background-color: #FFFFFF;
  -fx-border-color: #FF8000;
  -fx-border-width: 3px;
  -fx-border-radius: 11;
  -fx-background-radius: 10px;
  -fx-border-insets: -1;
  -fx-background-insets: 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.choice-box .label {
  -fx-text-fill: #FF8000;
  -fx-font-size: 15;
  -fx-opacity: 1;
}

.choice-box:hover {
  -fx-border-radius: 12;
  -fx-border-color: #ef836a;
  -fx-background-insets: 0;
  -fx-border-insets: -2;
  -fx-border-width: 2;
}

.choice-box:pressed {
  -fx-background-color: #000000;
}

.scroll-pane {
  -fx-background-color: #ffffff;
}

.combo-box {
  -fx-alignment: BASELINE_LEFT;
  -fx-background-color: #FFFFFF;
  -fx-border-color: #FF8000;
  -fx-border-width: 2px;
  -fx-border-radius: 5;
  -fx-background-radius: 5px;
  -fx-border-insets: -1;
  -fx-background-insets: 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.combo-box:hover {
  -fx-border-radius: 8;
  -fx-border-color: #FF8000;
  -fx-background-insets: 0;
  -fx-border-insets: -1;
  -fx-border-width: 2;
}

.combo-box .label {
  -fx-text-fill: #000000;
  -fx-font-size: 12;
  -fx-opacity: 1;
}
